/**
 * variables
 *
 */

$text-color: #000;
$link-color: #fefe5b;
$background-color: #000084;
$background-contrast-color: #bbbbbb;


/**
 * default elements
 *
 */

body {
    color: $text-color;
    background-color: $background-color;
    font-family: 'PxPlus IBM VGA8', sans-serif;
    font-style: normal;
    font-size: 1.2rem;
}

*:first-letter {
    color: $link-color;
}

a {
    color: $text-color;
    text-decoration: none;
}


/**
 * navigation
 *
 *
 */

nav {
    ul {
        list-style: none;
        border: 3px solid #000;
        margin: 0;
        padding: 0.6em 0.8em;

        a {
            display: block;
            padding: 0.1em;
            margin: -0.1em;

            &:hover, &.current {
                color: #fff;
                background-color: $text-color;
            }
        }
    }
}


/**
 * panel
 *
 *
 */

.panel {
    padding: 6px 0;
    background-color: $background-contrast-color;
}


/**
 * icons
 *
 *
 */

[class^="icon-"], [class*=" icon-"] {
    font-style: normal;
    color: $link-color;
}

.icon-tiny-hamburger-open,  .icon-tiny-hamburger-close {
    position: absolute;
    top: 0;
    transition: transform .2s;
    margin: 3px;

    &:after {
        content: '\2bc5';
    }
}

.icon-tiny-hamburger-open {
    transform: rotate(0deg);
}

.icon-tiny-hamburger-close {
    transform: rotate(180deg);
}


/**
 * tiny-tiny-hamburger
 *
 *
 */

.tiny-hamburger {
    &__inner {
        padding: 4px 8px 5px;
    }

    // modal with animation
    &__modal {
        height: auto;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s;
    }

    &__button {
        appearance: none;
        border: none;
        background: transparent;
        padding: 0.3em 0.5em;

        &:hover {
            cursor: pointer;
            outline: none;
            background-color: $background-contrast-color;
        }

        &:focus {
            outline: none;
        }
    }
}
