/**
 * variables
 *
 */

$primary-color: #5a146d;
$text-color: #000;
$background-color: #eaeaea;


/**
 * default elements
 *
 */

body {
    color: $text-color;
    background-color: $background-color;
    font-family: arial, sans-serif;
    font-style: normal;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}


/**
 * navigation
 *
 *
 */

nav {
    ul {
        list-style: none;
        margin: 15px 0 0;
        padding: 0;

        a {
            padding: 8px 20px;
            display: block;
            color: #fff;

            &:hover {
                background-color: #848484;
                transition: background-color .3s ease-in-out;
            }

            &.current {
                background-color: $primary-color;
            }
        }
    }
}


/**
 * button
 *
 *
 */

.button {
    color: #fff;
    background-color: #5a146d;
    appearance: none;
    border: none;

    padding: 0.3em 0.5em 0.4em;

    &:hover {
        cursor: pointer;
        outline: none;
    }

    &:focus {
        outline: none;
    }
}


/**
 * icons - content from iconmoon.css
 *
 *
 */

.icon-tiny-hamburger-open {
    &:after {
        content: "\e901";
    }
}

.icon-tiny-hamburger-close {
    &:after {
        content: "\e900";
    }
}


/**
 * tiny-tiny-hamburger
 *
 *
 */

$tiny-hamburger__modal__width: 250px;
$tiny-hamburger__modal__background-color: #1c262b;

.tiny-hamburger {
    &__modal {
        position: fixed;
        background-color: $tiny-hamburger__modal__background-color;
        left: -$tiny-hamburger__modal__width;
        width: $tiny-hamburger__modal__width;
        height: 100%;
        overflow: hidden;
        transition: left 0.2s;
    }

    &__button {
        position: fixed;
        right: 0;
        top: 0;

        font-size: 1.4rem;
        margin: 1em 1.2em;
        line-height: 0;
    }
}
